/* pages/mine/set.less */
.m-list{
  position: relative;
  margin-top: 20rpx;
  .u-list:nth-child(n)::before{
    content: attr(data-name);
  }
  .u-list-noicon:nth-child(n)::before{
    content: attr(data-name);
    color: var(--color);
  }
  .u-list{
    .language{
      height: 24rpx;
      line-height: 24rpx;
      white-space: nowrap;
    }
  }
}